#cy {
    height: 600px;
    border: 1px solid #dbdbdb;
}

.sequence-display-dbn, .sequence-display-idx {
    background-color: #fafafa;
    font-weight: bold;
}

.sequence-display-residues {
    color: white;
    font-weight: bold;
}

.display-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}