.background-Red {
    background-color: Red
}

.background-Orange {
    background-color: Orange
}

.background-Yellow {
    background-color: Yellow
}

.background-Green {
    background-color: Green
}

.background-Blue {
    background-color: Blue
}

.background-Indigo {
    background-color: Indigo
}

.background-Violet {
    background-color: Violet
}
